/* General */

a {
  text-decoration: none;
}

/* buttons */

.radiant-green-btn {
  margin-bottom: 2vh !important;
  border-radius: 7px !important;
  font-family: Montserrat !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff !important;
  width: 256px;
  height: 54px;
  background: linear-gradient(180deg, #76ce95 0%, #70cec6 100%);
}

.radiant-purple-btn {
  margin-bottom: 2vh !important;
  border-radius: 7px !important;
  font-family: Montserrat !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff !important;
  width: 256px;
  height: 54px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

/* Landing Component */

.landing-btns {
  margin-top: 10vh;
}

.landing-logo {
  margin-top: 13vh;
}

.landing-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.landing-quotes {
  margin-top: 9vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.quote {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0;
}

.quote-author {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

/* login page */

.header-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #1f2041;
  text-align: center;
  margin-top: 5vh;
}

.login-form {
  display: grid;
  margin: 10vh 5vh;
}

.login-form input {
  margin-top: 4vh;
}

.header-paragraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* Quiz */

.quiz-form label {
  margin-top: 3vh !important;
}
.quiz-btn {
  margin-top: 9vh;
}

.quiz-btn button {
  width: 100% !important;
}

.header-title-quiz {
  margin-top: 9vh;
}

/* Register */

.register-logo {
  width: 45vw;
}

.register-logo-high {
  margin-top: 5vh;
}

.register-form {
  margin-top: 1vh;
}
